<script src="mraid.js"></script>
<script src="http://mraid.iab.net/compliance/units/twopart-expand-part1.js" type="text/javascript"></script>

<div id="arontwopartwrap">
    <a href="#" onclick="twopart(); return false;" id="twopart">Two Part Expand</a>
</div>