<script src="mraid.js"></script> 
<script>
	function createCalendar() { 
		mraid.createCalendarEvent({description: 'Mayan Apocalypse/End of World', start: '2012-12-21T00:00-05:00', end: '2012-12-22T00:00-05:00' });
	}
	function storePicture() {
		mraid.storePicture('http://bit.ly/1wkzFLu');
	}
	function printReady() {
		show('ready fired');
	}
	function printError(eventName, message) {
		show(eventName + " - " + message);
	}
	function printStateChange(state) {
		show('new state: ' + state);
	}
	function printStateChange2(state) {
		show('new state2: ' + state);
	}
	function printViewableChange() {
		show('viewableChange fired');
	}
	function printSizeChange(width, height) {
		show('sizeChange fired with w: ' + width + ' and h: ' + height);
	}
	function setEventListeners() {
		mraid.addEventListener('ready', printReady);
		mraid.addEventListener('error', printError); 
		mraid.addEventListener('stateChange', printStateChange);
		mraid.addEventListener('viewableChange', printViewableChange);
		mraid.addEventListener('sizeChange', printSizeChange);
	}
	function show(o) {
		console.log(o);
		document.getElementById('place').innerHTML += o.toString() + '<br>';
	}
	function emptyPlace() {
		document.getElementById('place').innerHTML = '';
	}
	function screenSize(){
		var size = mraid.getScreenSize();
		show('width: ' + size.width + ', height: ' + size.height);
	}
	function maxSize(){
		var size = mraid.getMaxSize();
		show('width: ' + size.width + ', height: ' + size.height);
	}
	function currentPosition(){
		var position = mraid.getCurrentPosition();
		show('x: ' + position.x + ', y: ' + position.y + ', width: ' + position.width + ', height: ' + position.height);
	}
	function defaultPosition(){
		var position = mraid.getDefaultPosition();
		show(position);
		show('x: ' + position.x + ', y: ' + position.y + ', width: ' + position.width + ', height: ' + position.height);
	}
	function resize() {
		var h = document.getElementById('h').value;
    mraid.setResizeProperties({width:320, height:h, offsetX:10, offsetY:10, allowOffScreen:false});
		mraid.resize();
	}
	function expand(url) {
		mraid.setExpandProperties({width:320, height:100});
		mraid.expand(url);
	}
	function inlineVideo(){
    show('<video width="400" id="videoPlayer" controls><source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4"></video>');
	}
	function playVideo(){
		document.getElementById('videoPlayer').play();
	}
	function lockScreen(){
		mraid.setOrientationProperties({allowOrientationChange: false});
	}
	function unlockScreen(){
		mraid.setOrientationProperties({allowOrientationChange: true});
	}
	function landscape(){
		mraid.setOrientationProperties({forceOrientation: 'landscape'});
	}
	function portrait(){
		mraid.setOrientationProperties({forceOrientation: 'portrait'});
	}
	setEventListeners();
</script>
<button onClick="show(mraid.getState());">state</button>
<button onClick="mraid.removeEventListener('stateChange', printStateChange2);">REL</button>
<button onClick="mraid.removeEventListener('stateChange');">RAEL</button>
<button onClick="createCalendar()">Calendar</button>
<button onClick="storePicture()">Pic</button>
<button onClick="show(mraid.getPlacementType());">type</button>
<button onClick="show(mraid.supports('sms'));">Sms</button>
<button onClick="show(mraid.isViewable());">ready?</button>
<button onClick="screenSize();">screen size</button>
<button onClick="maxSize();">max size</button>
<button onClick="currentPosition();">Position</button>
<button onClick="defaultPosition();">Default Position</button>
<input type="text" id="h" size="4"></input>
<button onClick="resize()">resize</button>
<button onClick="expand()">expand</button>
<button onClick="expand('http://192.168.15.106:8000/mraid2_test2.html')">expandUrl</button>
<button onClick="mraid.open('http://robadurbin.com');">RAD</button>
<button onClick="mraid.playVideo('http://www.w3schools.com/html/mov_bbb.mp4');">play</button>
<button onClick="show('<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>yo');">MAKE BIG</button>
<button onClick="mraid.close();">close</button>
<button onClick="inlineVideo();">inline</button>
<button onClick="playVideo();">pv</button>
<button onClick="lockScreen();">lock</button>
<button onClick="unlockScreen();">unlock</button>
<button onClick="landscape();">landscape</button>
<button onClick="portrait();">portrait</button>
<button onClick="mraid.useCustomClose(true);">cc</button>
<button onClick="mraid.useCustomClose(false);">ncc</button>
<button onClick="emptyPlace();">clr</button>
<div id="place">

</div>
<style type="text/css">
	body
	{
		background-color:#0000FF;
	}
</style>
