<img src="http://spc--cedgiccfmgneahleegkflgdg--mraid.telemetryverification.net/ps3/SOURCEID_123__SID_6557724788475949111__TV2NSPID_pse1Bcx28RlMpKdZkc__ADCGUID_pse1BN64jBEV75NU__TV2NBKID_pse1BTVZmhn73Cqg__TV2NBTST_TAGRAN__PROVIDER_pse1POWERTRAINx2dHTML5x2dMRAID__ITM_2/pse1/blank.gif?[timestamp]" /><script src='mraid.js'></script><script>
aTelengParams=
{
        tim: new Date(1000*'1414713394'),
        querySpike: "__QUERYSTR_pse1x253bcbx253dx2524x255bcbx255dx253bsubTagIDx253d23773",
        creativePath : "http://cdn455.telemetryverification.net/tv2n/autocontent/verizon_wireless/1x1_vzw_pr_october_pricing_promo_0_0_0_101014_300109_700102_1/r0001/1x1_vzw_pr_october_pricing_promo_0_0_0_101014_512_linear_640x360",
        spikeDom : "spc--cedgiccfmgneahleegkflgdg--mraid.telemetryverification.net",
        src : "123",
        spcId : "pse1Bcx28RlMpKdZkc",
        sid : '6557724788475949111',
        creativeId : "pse1BN64jBEV75NU",
        height : "380",
        width : "640",
        ctu : "http://analytics.bluekai.com/site/16411?phint=event%3Dclick&phint=aid%3D600027&phint=pid%3D146854&phint=vid%3D900868&phint=cid%3D421141&phint=crid%3D531316]&phint=coid%3D404785&done=http://ad.doubleclick.net/ddm/trackclk/N2998.285200.RUNINC/B8171565.2;dc_trk_aid=282779982;dc_trk_cid=59867909",
        itm : 3,
        js_ad : 0,
        pixels : "Ihttp://rundsp-pubnet.telemetryaudit.com/ts/pse1rndx5f1x5fx5ftimx5f1x5fx5ftv2nspidx5fcedgiccfmgneahleegkflgdg/pse1/blank.gif?rnd=[timestamp]____Zhttp://analytics.bluekai.com/site/16411?phint=event%3Dcomplete&phint=aid%3D600027&phint=vid%3D900868&phint=pid%3D146854&phint=cid%3D421141&phint=crid%3D531316]&phint=coid%3D404785____Ehttp://analytics.bluekai.com/site/16411?phint=event%3Dexplored&phint=aid%3D600027&phint=vid%3D900868&phint=pid%3D146854&phint=cid%3D421141&phint=crid%3D531316]&phint=coid%3D404785____Shttp://analytics.bluekai.com/site/16411?phint=event%3Dintsucceed&phint=aid%3D600027&phint=vid%3D900868&phint=pid%3D146854&phint=cid%3D421141&phint=crid%3D531316]&phint=coid%3D404785____Ahttp://analytics.bluekai.com/site/16411?phint=event%3Dintstart&phint=aid%3D600027&phint=vid%3D900868&phint=pid%3D146854&phint=cid%3D421141&phint=crid%3D531316]&phint=coid%3D404785____Ihttp://analytics.bluekai.com/site/16411?phint=event%3Dimp&phint=aid%3D600027&phint=vid%3D900868&phint=pid%3D146854&phint=cid%3D421141&phint=crid%3D531316&phint=coid%3D404785____Ihttp://b.scorecardresearch.com/p?c1=3&c2=14579544&c3=421141&c4=531316&c5=146854&c6=&c10=1&c11=&c13=&c16=gen&cj=1&ax_fwd=1&rn=[timestamp]&____Xhttp://analytics.bluekai.com/site/16411?phint=event%3Dintexplored&phint=aid%3D600027&phint=vid%3D900868&phint=pid%3D146854&phint=cid%3D421141&phint=crid%3D531316]&phint=coid%3D404785____Ihttp://ad.doubleclick.net/ddm/trackimp/N2998.285200.RUNINC/B8171565.2;dc_trk_aid=282779982;dc_trk_cid=59867909;ord=[timestamp]____",
        jspixels : "",
        duration : 31,
        usebase : 1,
        plugins : "",
        fvars: "&psbaseurl=http://spc--cedgiccfmgneahleegkflgdg--mraid.telemetryverification.net&spacewidth=640&spaceheight=380&sourceid=123&ad=%2Fautocontent%2Fverizon_wireless%2F1x1_vzw_pr_october_pricing_promo_0_0_0_101014_300109_700102_1%2Fr0001%2F1x1_vzw_pr_october_pricing_promo_0_0_0_101014_512_linear_640x360_mobh264.mp4&adid=BN64jBEV75NU&cid=BN64jBEV75NU&bid=BTVZmhn73Cqg&sig=972079&ctu=http%3A%2F%2Fanalytics.bluekai.com%2Fsite%2F16411%3Fphint%3Devent%253Dclick%26phint%3Daid%253D600027%26phint%3Dpid%253D146854%26phint%3Dvid%253D900868%26phint%3Dcid%253D421141%26phint%3Dcrid%253D531316%5D%26phint%3Dcoid%253D404785%26done%3Dhttp%3A%2F%2Fad.doubleclick.net%2Fddm%2Ftrackclk%2FN2998.285200.RUNINC%2FB8171565.2%3Bdc_trk_aid%3D282779982%3Bdc_trk_cid%3D59867909&impt=Ihttp%3A%2F%2Frundsp-pubnet.telemetryaudit.com%2Fts%2Fpse1rndx5f1x5fx5ftimx5f1x5fx5ftv2nspidx5fcedgiccfmgneahleegkflgdg%2Fpse1%2Fblank.gif%3Frnd%3D%5Btimestamp%5D____Zhttp%3A%2F%2Fanalytics.bluekai.com%2Fsite%2F16411%3Fphint%3Devent%253Dcomplete%26phint%3Daid%253D600027%26phint%3Dvid%253D900868%26phint%3Dpid%253D146854%26phint%3Dcid%253D421141%26phint%3Dcrid%253D531316%5D%26phint%3Dcoid%253D404785____Ehttp%3A%2F%2Fanalytics.bluekai.com%2Fsite%2F16411%3Fphint%3Devent%253Dexplored%26phint%3Daid%253D600027%26phint%3Dvid%253D900868%26phint%3Dpid%253D146854%26phint%3Dcid%253D421141%26phint%3Dcrid%253D531316%5D%26phint%3Dcoid%253D404785____Shttp%3A%2F%2Fanalytics.bluekai.com%2Fsite%2F16411%3Fphint%3Devent%253Dintsucceed%26phint%3Daid%253D600027%26phint%3Dvid%253D900868%26phint%3Dpid%253D146854%26phint%3Dcid%253D421141%26phint%3Dcrid%253D531316%5D%26phint%3Dcoid%253D404785____Ahttp%3A%2F%2Fanalytics.bluekai.com%2Fsite%2F16411%3Fphint%3Devent%253Dintstart%26phint%3Daid%253D600027%26phint%3Dvid%253D900868%26phint%3Dpid%253D146854%26phint%3Dcid%253D421141%26phint%3Dcrid%253D531316%5D%26phint%3Dcoid%253D404785____Ihttp%3A%2F%2Fanalytics.bluekai.com%2Fsite%2F16411%3Fphint%3Devent%253Dimp%26phint%3Daid%253D600027%26phint%3Dvid%253D900868%26phint%3Dpid%253D146854%26phint%3Dcid%253D421141%26phint%3Dcrid%253D531316%26phint%3Dcoid%253D404785____Ihttp%3A%2F%2Fb.scorecardresearch.com%2Fp%3Fc1%3D3%26c2%3D14579544%26c3%3D421141%26c4%3D531316%26c5%3D146854%26c6%3D%26c10%3D1%26c11%3D%26c13%3D%26c16%3Dgen%26cj%3D1%26ax_fwd%3D1%26rn%3D%5Btimestamp%5D%26____Xhttp%3A%2F%2Fanalytics.bluekai.com%2Fsite%2F16411%3Fphint%3Devent%253Dintexplored%26phint%3Daid%253D600027%26phint%3Dvid%253D900868%26phint%3Dpid%253D146854%26phint%3Dcid%253D421141%26phint%3Dcrid%253D531316%5D%26phint%3Dcoid%253D404785____Ihttp%3A%2F%2Fad.doubleclick.net%2Fddm%2Ftrackimp%2FN2998.285200.RUNINC%2FB8171565.2%3Bdc_trk_aid%3D282779982%3Bdc_trk_cid%3D59867909%3Bord%3D%5Btimestamp%5D____&advid=BZ2(Hhj(CJ2Q&tagtim=1413406662&tim=1414713394&hold=0&ws=http://a.telemetrytaxonomy.net/600027/,http://b.telemetrytaxonomy.net/600027/,http://c.telemetrytaxonomy.net/600027/&wsuse=cat&tagexporter=1344438248&enableinplayercontrols=0&queryspike=__QUERYSTR_pse1x253bcbx253dx2524x255bcbx255dx253bsubTagIDx253d23773&TESTVAL=1&cdns=http://cdn455.telemetryverification.net,0.98,http://cdn456.telemetryverification.net,0.02,https://d1lcq4x153aesu.cloudfront.net,1.00&heatmap=0.1&melc=1&swf=1,0.1"
};
</script><script src='http://cdn455.telemetryverification.net/tv2n/presenter_js/deploys/interactive_live/r0068/sauron.min.js' ></script>
